In [1]:
import os
import sys

sys.path.append('../python')
sys.path.append('../data')

In [2]:
import pandas as pd

data = pd.read_csv('../data/london_table.csv')

In [3]:
station_id_set = list(set(data['station_id'].values))
target_list = ['PM2.5', 'PM10']

In [4]:
import utils
import datetime

result = pd.DataFrame(columns=['station_id', 'utc_time', 'PM2.5', 'PM10'])

for station in station_id_set:
    temp_df = pd.DataFrame([[0 for i in range(4)] for i in range(365*24)], columns=['station_id', 'utc_time', 'PM2.5', 'PM10'])
    temp_df['station_id'] = [station for i in range(365*24)]
    
    for target in target_list:
        # check progress
        print(station, target)
        
        data_subset = data[data['station_id'] == station][['utc_time', target]]
        data_subset = data_subset[data_subset['utc_time'] < '2018-01-01']
        target_result = []
        X, y = utils.fillNA(list(data_subset['utc_time'].values), list(data_subset[target].values))
        
        temp_df[target] = y
    temp_df['utc_time'] = X
        
    result = pd.concat((result, temp_df))

BX1 PM2.5
BX1 PM10
GR9 PM2.5
GR9 PM10
GR4 PM2.5
GR4 PM10
BL0 PM2.5
BL0 PM10
GN3 PM2.5
GN3 PM10
ST5 PM2.5
ST5 PM10
HV1 PM2.5
HV1 PM10
CD9 PM2.5
CD9 PM10
GN0 PM2.5
GN0 PM10
TH4 PM2.5
TH4 PM10
LW2 PM2.5
LW2 PM10
CD1 PM2.5
CD1 PM10
RB7 PM2.5
RB7 PM10
CT3 PM2.5
CT3 PM10

In [8]:
result.to_csv('../data/fillNA_london_aq.csv', index=False)

In [9]:
tt = pd.read_csv('../data/fillNA_london_aq.csv')
tt.tail(20)

       station_id             utc_time  PM2.5  PM10
122620        CT3  2017-12-31 04:00:00   10.0  11.4
122621        CT3  2017-12-31 05:00:00   10.0  16.2
122622        CT3  2017-12-31 06:00:00    9.0  13.8
122623        CT3  2017-12-31 07:00:00    8.0   8.2
122624        CT3  2017-12-31 08:00:00    6.0   6.6
122625        CT3  2017-12-31 09:00:00    1.0   6.8
122626        CT3  2017-12-31 10:00:00    3.0   9.0
122627        CT3  2017-12-31 11:00:00    4.0  10.4
122628        CT3  2017-12-31 12:00:00    3.0  15.8
122629        CT3  2017-12-31 13:00:00    7.0  10.0
122630        CT3  2017-12-31 14:00:00    8.0  13.2
122631        CT3  2017-12-31 15:00:00    2.0   9.2
122632        CT3  2017-12-31 16:00:00    2.0   7.8
122633        CT3  2017-12-31 17:00:00    4.0  12.4
122634        CT3  2017-12-31 18:00:00    5.0  15.6
122635        CT3  2017-12-31 19:00:00   -2.0  16.4
122636        CT3  2017-12-31 20:00:00    6.0  14.6
122637        CT3  2017-12-31 21:00:00    5.0   8.6
122638        CT3  2017-12-31 22:00:00    5.0  12.6
122639        CT3  2017-12-31 23:00:00    6.0  10.4